.btn {
  padding: .5rem 2rem;
}

.btn-primary {
  background-color: $primary-color;
  color: $secondary-color;
  border-color: $primary-color;

  &:hover {
    color: $primary-color;
    background-color: $secondary-color;
    border-color: $secondary-color;
  }
}

.btn-secondary{
  background-color: $secondary-color;
  color: $primary-color;
  border-color: $secondary-color;

  &:hover {
    color: $secondary-color;
    background-color: $primary-color;
    border-color: $secondary-color;
  }
}

.btn-tertiary {
  background-color: $red;
  color: $yellow;
  border-color: $red;

  &:hover {
    color: $red;
    background-color: $yellow;
    border-color: $yellow;
  }
}