.container.main {
  margin: 1rem auto;

  .card {
    margin: .5rem 0;

    .card-header {
      font-weight: $font-weight-bold;
      color: $white;
    }

    .card-body {
      padding-top: 0;
      padding-bottom: 0;

      .list-group {
        margin: 1rem auto;
      }

      .list-group-item {
        border-left: none;
        border-right: none;

        &:first-of-type {
          border-top: none;
        }

        &:last-of-type {
          border-bottom: none;
        }
      }
    }

    .card-footer {
      padding: 0;
      margin: 0;

      .btn {
        width: 100%;
        border-radius: 0 0 4px 4px;
      }
    }
  }

  &.new {
    .card-header {
      background-color: rgba($yellow, .75);
    }
  }

  &.current {
    .card-header {
      background-color: rgba($green, .75);
    }
  }
}