@import '~bootstrap/scss/bootstrap-reboot';
@import '~bootstrap/scss/bootstrap-grid';
@import '~bootstrap/scss/bootstrap';
@import "variables";
@import "btn";
@import 'header';
@import 'main';


body {
  background-color: $gray-100;
  font-family: sans-serif;
}

a {
  color: $secondary-color;
}

.text-secondary {
  color: $secondary-color;
}